body{
    background-color: bisque;
}

#body{
  height: 100%;
  position: relative;
}

#form{
  margin: auto;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.js-baguette{
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 100px;
}

#baguepi{
  margin: auto;
  opacity: 0;
  width: 200px;
  height: 200px;
  background-image: url('../img/baguepi.jpg');
  background-size: 200px 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: opacity 5s cubic-bezier(0.03, 0.4, 0, 0.99), width 5s cubic-bezier(0.03, 0.4, 0, 0.99), height 5s cubic-bezier(0.03, 0.4, 0, 0.99), background-size 5s cubic-bezier(0.03, 0.4, 0, 0.99);
}

.display{
  opacity: 1 !important;
  width: 300px !important;
  height: 300px !important;
  background-size: 300px 300px !important;
}

.rotate{
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }